# 4.数据加工训练

## 4.1读入数据并查看数据

In [1]:
#导入数据包
import numpy as np
import pandas as pd

In [2]:
#读入并查看数据

#读入数据
dtype={'TICKER_SYMBOL':str}  #按规定格式读取某列
df1 = pd.read_csv(\
                  "Data/GeneralBusinessIncome.csv",\
                  dtype = dtype)
df2 = pd.read_csv("Data/BankIncome.csv",\
                  dtype = dtype)

#查看数据
df1
df2

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,REVENUE,...,BASIC_EPS,DILUTED_EPS,OTH_COMPR_INCOME,OTH_EFFECT_CI,AE_EFFECT_CI,T_COMPR_INCOME,COMPR_INC_ATTR_P,COMPR_INC_ATTR_M_S,OTH_EFFECT_PCI,AE_EFFECT_PCI
0,2,000001,XSHE,2009/4/24,2009/3/31,2008/3/31,Q1,3,1,3.553270e+09,...,0.34,0.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,000001,XSHE,2009/4/24,2009/3/31,2009/3/31,Q1,3,1,3.760604e+09,...,0.36,0.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,000001,XSHE,2009/8/21,2009/6/30,2008/6/30,S1,6,1,7.115253e+09,...,0.71,0.70,-1.205300e+07,NaN,NaN,2.131781e+09,2.131781e+09,NaN,NaN,NaN
3,2,000001,XSHE,2009/8/21,2009/6/30,2009/6/30,S1,6,1,7.490850e+09,...,0.74,0.74,-7.247860e+08,NaN,NaN,1.586602e+09,1.586602e+09,NaN,NaN,NaN
4,2,000001,XSHE,2009/10/29,2009/9/30,2008/9/30,Q3,9,1,1.074141e+10,...,1.09,1.08,2.464820e+08,NaN,NaN,3.563476e+09,3.563476e+09,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652,37396,600901,XSHG,2018/2/6,2017/9/30,2017/9/30,Q3,9,1,1.508569e+09,...,0.37,0.37,2.231829e+05,NaN,NaN,8.668328e+08,8.668328e+08,NaN,NaN,NaN
1653,37396,600901,XSHG,2018/4/4,2017/12/31,2016/12/31,A,12,1,1.809784e+09,...,0.35,0.35,5.552516e+06,NaN,NaN,8.295955e+08,8.295955e+08,NaN,NaN,NaN
1654,37396,600901,XSHG,2018/4/4,2017/12/31,2017/12/31,A,12,1,1.942686e+09,...,0.43,0.43,3.483291e+07,NaN,NaN,1.045462e+09,1.045462e+09,NaN,NaN,NaN
1655,37396,600901,XSHG,2018/4/28,2018/3/31,2017/3/31,Q1,3,1,5.737014e+08,...,0.13,0.13,2.309739e+05,NaN,NaN,2.979336e+08,2.979336e+08,NaN,NaN,NaN
1656,37396,600901,XSHG,2018/4/28,2018/3/31,2018/3/31,Q1,3,1,6.011512e+08,...,0.13,0.13,-4.038543e+07,NaN,NaN,2.847932e+08,2.847932e+08,NaN,NaN,NaN

## 4.2 数据变换——大小变换之min-max（0-1）标准化

In [3]:
from sklearn.preprocessing import MinMaxScaler
#建立MinMaxScaler对象
mmscaler=MinMaxScaler()
#标准化处理
data_mms =mmscaler.fit_transform(df1['REVENUE'].values.reshape(-1,1))
data_mms

array([[2.85024550e-03],
       [1.01918162e-02],
       [1.43868821e-02],
       ...,
       [1.29340590e-04],
       [8.04857216e-05],
       [1.50674485e-04]])

## 4.3 数据变换——大小变换之Z-score 标准化

In [4]:
from sklearn.preprocessing import StandardScaler

#建立StandardScaler对象
sscaler = StandardScaler()

#标准化处理
data_zs = sscaler.fit_transform(df1['REVENUE'].values.reshape(-1,1))
data_zs

array([[ 0.08168144],
       [ 0.58069465],
       [ 0.86583707],
       ...,
       [-0.10326093],
       [-0.10658164],
       [-0.10181085]])

## 4.4 数据变换——大小变换之normalizer 归一化

In [5]:
from sklearn.preprocessing import Normalizer

#建立Normalizer对象
nscaler=Normalizer()

#删去缺失值
data_del = df1.drop(labels = df1.index[df1['T_REVENUE'].isnull()],axis=0)  

#标准化处理
data_ns = nscaler.fit_transform(data_del['T_REVENUE'].values.reshape(1,-1))   
data_ns

array([[4.19446150e-04, 1.50573282e-03, 2.12645069e-03, ...,
        1.68507308e-05, 9.62197909e-06, 2.00073750e-05]])

In [6]:
# 数据变换——大小变换(汇总)
from sklearn import preprocessing

# # min-max（0-1）标准化
mmscaler=preprocessing.MinMaxScaler()
data_mms = mmscaler.fit_transform(df1['REVENUE'].values.reshape(-1,1))

# Z-score 标准化
sscaler = preprocessing.StandardScaler()
data_zs = sscaler.fit_transform(df1['REVENUE'].values.reshape(-1,1))

# normalizer 归一化
nscaler=preprocessing.Normalizer()
data_del = df1.drop(labels = df1.index[df1['T_REVENUE'].isnull()],axis=0)  #删去缺失值
data_ns = nscaler.fit_transform(data_del['T_REVENUE'].values.reshape(1,-1))   

data_list = [data_mms,data_zs,data_ns]
data_list

[array([[2.85024550e-03],
        [1.01918162e-02],
        [1.43868821e-02],
        ...,
        [1.29340590e-04],
        [8.04857216e-05],
        [1.50674485e-04]]), array([[ 0.08168144],
        [ 0.58069465],
        [ 0.86583707],
        ...,
        [-0.10326093],
        [-0.10658164],
        [-0.10181085]]), array([[4.19446150e-04, 1.50573282e-03, 2.12645069e-03, ...,
         1.68507308e-05, 9.62197909e-06, 2.00073750e-05]])]

## 4.5 数据变换——类型变换

In [7]:
#将字符串格式数据转换为日期格式
df1['PUBLISH_DATE'] = pd.to_datetime(df1['PUBLISH_DATE'])
df1['PUBLISH_DATE']

#将日期格式数据转换为指定形式字符串（*年*月*日）
# date_new = df1['PUBLISH_DATE'].apply(\
#                           lambda x:x.strftime('%Y{y}%m{m}%d{d}').\
#                           format(y="年",m="月",d="日"))
# date_new

0        2009-04-27
1        2012-10-24
2        2014-08-18
3        2015-03-31
4        2016-03-14
            ...
208301   2017-01-23
208302   2017-01-09
208303   2017-01-09
208304   2017-01-17
208305   2017-04-24
Name: PUBLISH_DATE, Length: 208306, dtype: datetime64[ns]

## 4.6 数据集成——内容集成

In [8]:
#纵向堆叠
c1 = pd.concat([df1,df2], keys=['df1', 'df2'] ) #用 keys=[ , ] 来标识数据来源
c1

#横向堆叠
c2 = pd.concat([df1,df2], axis = 1, keys=['df1', 'df2'] ) #指定 axis=1表示横向堆叠
c2

             df1                                                      \
        PARTY_ID TICKER_SYMBOL EXCHANGE_CD PUBLISH_DATE END_DATE_REP
0              3        000002        XSHE   2009-04-27    2009/3/31
1              3        000002        XSHE   2012-10-24    2012/9/30
2              3        000002        XSHE   2014-08-18    2014/6/30
3              3        000002        XSHE   2015-03-31   2014/12/31
4              3        000002        XSHE   2016-03-14   2015/12/31
...          ...           ...         ...          ...          ...
208301  10007003        603839        XSHG   2017-01-23    2016/6/30
208302  10007004        603360        XSHG   2017-01-09    2016/6/30
208303  10007004        603360        XSHG   2017-01-09    2016/6/30
208304  10007004        603360        XSHG   2017-01-17    2016/6/30
208305  10007004        603360        XSHG   2017-04-24   2016/12/31

                                                                        ...  \
          END_DATE REPORT_TYPE FISCAL_PERIOD MERGED_FLAG     T_REVENUE  ...
0        2009/3/31          Q1             3           1  8.164319e+09  ...
1        2011/9/30          Q3             9           1  2.930837e+10  ...
2        2013/6/30          S1             6           1  4.139035e+10  ...
3       2014/12/31           A            12           1  1.460000e+11  ...
4       2014/12/31           A            12           1  1.460000e+11  ...
...            ...         ...           ...         ...           ...  ...
208301   2016/6/30          S1             6           1  5.291353e+08  ...
208302  2014/12/31           A            12           1  3.466358e+08  ...
208303  2015/12/31           A            12           1  3.279914e+08  ...
208304   2016/6/30          S1             6           1  1.872872e+08  ...
208305  2016/12/31           A            12           1  3.894340e+08  ...

             df2                                                          \
       BASIC_EPS DILUTED_EPS OTH_COMPR_INCOME OTH_EFFECT_CI AE_EFFECT_CI
0           0.34        0.33              NaN           NaN          NaN
1           0.36        0.36              NaN           NaN          NaN
2           0.71        0.70      -12053000.0           NaN          NaN
3           0.74        0.74     -724786000.0           NaN          NaN
4           1.09        1.08      246482000.0           NaN          NaN
...          ...         ...              ...           ...          ...
208301       NaN         NaN              NaN           NaN          NaN
208302       NaN         NaN              NaN           NaN          NaN
208303       NaN         NaN              NaN           NaN          NaN
208304       NaN         NaN              NaN           NaN          NaN
208305       NaN         NaN              NaN           NaN          NaN

                                                                          \
       T_COMPR_INCOME COMPR_INC_ATTR_P COMPR_INC_ATTR_M_S OTH_EFFECT_PCI
0                 NaN              NaN                NaN            NaN
1                 NaN              NaN                NaN            NaN
2        2.131781e+09     2.131781e+09                NaN            NaN
3        1.586602e+09     1.586602e+09                NaN            NaN
4        3.563476e+09     3.563476e+09                NaN            NaN
...               ...              ...                ...            ...
208301            NaN              NaN                NaN            NaN
208302            NaN              NaN                NaN            NaN
208303            NaN              NaN                NaN            NaN
208304            NaN              NaN                NaN            NaN
208305            NaN              NaN                NaN            NaN


       AE_EFFECT_PCI
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
208301           NaN
208302           NaN
208303           NaN
208304           NaN
208305           NaN

[208306 rows x 128 columns]

## 4.7 数据集成——结构集成

In [9]:
#从原始数据中抽取部分数据
df1_extr = df1.iloc[[0,10,171,182,210],[1,2,4]]
df2_extr = df1.iloc[[0,10,171],[1,2,5]]

#无指定合并
m1 = pd.merge(df1_extr, df2_extr)
m1
# #指定键值合并
# m2 = pd.merge(df1_extr, df2_extr, on='TICKER_SYMBOL')
# m2
# #指定左连接/右连接/全合并
# m3 = pd.merge(df1_extr, df2_extr,  how='left')
# m4 = pd.merge(df1_extr, df2_extr,  how='right')
# m5 = pd.merge(df1_extr, df2_extr,  how='outer')

  TICKER_SYMBOL EXCHANGE_CD END_DATE_REP    END_DATE
0        000002        XSHE    2009/3/31   2009/3/31
1        000004        XSHE   2009/12/31  2009/12/31
2        000005        XSHE   2012/12/31  2012/12/31

## 4.8 数据排序——索引排序

In [10]:
# 对行索引，进行降序排列
data_sort11 = df1.sort_index(axis=0,ascending=False,inplace=False)
data_sort11

# 对列索引，进行升序排列
data_sort12 = df1.sort_index(axis=1,ascending=True,inplace=False)
data_sort12

,ADMIN_EXP,AE_EFFECT_CI,AE_EFFECT_NP,AE_EFFECT_NPP,AE_EFFECT_OP,AE_EFFECT_PCI,AE_EFFECT_TP,ASSETS_DISP_GAIN,ASSETS_IMPAIR_LOSS,ATOC,...,RESER_INSUR_CONTR,REVENUE,SELL_EXP,SPEC_TOC,SPEC_TOR,TICKER_SYMBOL,T_COGS,T_COMPR_INCOME,T_PROFIT,T_REVENUE
0,2.828142e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.516473e+05,NaN,...,NaN,8.164319e+09,2.385783e+08,NaN,NaN,000002,6.966013e+09,NaN,1.227682e+09,8.164319e+09
1,1.271355e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.128306e+07,NaN,...,NaN,2.930837e+10,1.689365e+09,NaN,NaN,000002,2.378348e+10,4.240628e+09,5.650196e+09,2.930837e+10
2,1.192209e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.789885e+07,NaN,...,NaN,4.139035e+10,1.431103e+09,NaN,NaN,000002,3.467414e+10,5.362011e+09,7.133412e+09,4.139035e+10
3,3.902618e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.897646e+08,NaN,...,NaN,1.460000e+11,4.521889e+09,NaN,NaN,000002,1.260000e+11,1.935212e+10,2.525236e+10,1.460000e+11
4,3.902618e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.897646e+08,NaN,...,NaN,1.460000e+11,4.521889e+09,NaN,NaN,000002,1.260000e+11,1.935212e+10,2.525236e+10,1.460000e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208301,8.331638e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.908735e+07,NaN,...,NaN,5.291353e+08,1.555342e+08,NaN,NaN,603839,3.970766e+08,1.153017e+08,1.338703e+08,5.291353e+08
208302,4.080497e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.148535e+06,NaN,...,NaN,3.466358e+08,1.969178e+07,NaN,NaN,603360,2.799269e+08,6.401363e+07,7.299334e+07,3.466358e+08
208303,5.209441e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.075691e+06,NaN,...,NaN,3.279914e+08,1.753642e+07,NaN,NaN,603360,2.663372e+08,5.675060e+07,6.618843e+07,3.279914e+08
208304,2.044441e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.019597e+06,NaN,...,NaN,1.872872e+08,9.012123e+06,NaN,NaN,603360,1.383081e+08,4.332336e+07,5.177810e+07,1.872872e+08
208305,5.367183e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.636983e+06,NaN,...,NaN,3.894340e+08,1.954840e+07,NaN,NaN,603360,2.810973e+08,9.799694e+07,1.150164e+08,3.894340e+08

## 4.9 数据排序——值排序

In [11]:
#对某一列进行降序排列
data_sort21 = df1.sort_values(\
                              by="REVENUE",axis=0,ascending=False,inplace=False)
data_sort21['REVENUE']

#对多列进行联合排序
data_sort22 = df1.sort_values(\
                              by=["REVENUE","T_REVENUE"],\
                              axis=0,ascending=[True,True],\
                              inplace=False,na_position="last")
data_sort22

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,T_REVENUE,...,BASIC_EPS,DILUTED_EPS,OTH_COMPR_INCOME,OTH_EFFECT_CI,AE_EFFECT_CI,T_COMPR_INCOME,COMPR_INC_ATTR_P,COMPR_INC_ATTR_M_S,OTH_EFFECT_PCI,AE_EFFECT_PCI
48195,794,600225,XSHG,2009-10-26,2009/9/30,2008/9/30,Q3,9,1,-4.451524e+07,...,-0.0700,-0.0700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82401,1202,600696,XSHG,2016-10-31,2016/9/30,2015/9/30,Q3,9,1,-6.744000e+03,...,-0.1069,-0.1069,NaN,NaN,NaN,-37732499.79,-36412331.46,-1320168.33,NaN,NaN
121953,1202,600696,XSHG,2015-10-28,2015/9/30,2015/9/30,Q3,9,1,-6.744000e+03,...,-0.1069,-0.1069,NaN,NaN,NaN,-37732499.79,-36412331.46,-1320168.33,NaN,NaN
80069,1202,600696,XSHG,2015-07-31,2015/6/30,2015/6/30,S1,6,1,-3.585000e+03,...,-0.0690,-0.0690,NaN,NaN,NaN,-24241739.13,-23401157.43,-840581.70,NaN,NaN
82400,1202,600696,XSHG,2016-08-31,2016/6/30,2015/6/30,S1,6,1,-3.585000e+03,...,-0.0690,-0.0690,NaN,NaN,NaN,-24241739.13,-23401157.43,-840581.70,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83866,1244,600738,XSHG,2018-04-28,2018/3/31,2017/3/31,Q1,3,1,3.876165e+08,...,0.0580,0.0580,NaN,NaN,NaN,45698229.56,45698229.56,NaN,NaN,NaN
39252,725,600149,XSHG,2018-04-28,2018/3/31,2017/3/31,Q1,3,1,NaN,...,-0.0061,-0.0061,NaN,NaN,NaN,-2337987.66,-2320618.56,-17369.10,NaN,NaN
42362,722,600145,XSHG,2018-04-28,2018/3/31,2017/3/31,Q1,3,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42364,722,600145,XSHG,2018-04-28,2018/3/31,2018/3/31,Q1,3,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58033,964,600421,XSHG,2018-04-28,2018/3/31,2018/3/31,Q1,3,1,NaN,...,-0.0080,-0.0080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 4.10 数据排序——值排名

In [12]:
# method="first"
data_torank = df1.iloc[:10,[1,10]]
data_torank
data_torank['RANK'] = data_torank["REVENUE"].rank(method="first")
data_torank  #指定的排名列如果出现相同的值，不同的method计算排名方法不同

  TICKER_SYMBOL       REVENUE  RANK
0        000002  8.164319e+09   4.0
1        000002  2.930837e+10   6.0
2        000002  4.139035e+10   7.0
3        000002  1.460000e+11   9.0
4        000002  1.460000e+11  10.0
5        000002  8.894338e+09   5.0
6        000002  1.170000e+11   8.0
7        000004  4.331482e+07   2.0
8        000004  4.331482e+07   3.0
9        000004  2.817939e+07   1.0

## 4.11 数据脱敏——删除法

In [13]:
#假定“REVENUE"列数据为敏感信息，对其进行删除
data_drop = df1.drop(['REVENUE'],axis = 1)
data_drop

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,T_REVENUE,...,BASIC_EPS,DILUTED_EPS,OTH_COMPR_INCOME,OTH_EFFECT_CI,AE_EFFECT_CI,T_COMPR_INCOME,COMPR_INC_ATTR_P,COMPR_INC_ATTR_M_S,OTH_EFFECT_PCI,AE_EFFECT_PCI
0,3,000002,XSHE,2009-04-27,2009/3/31,2009/3/31,Q1,3,1,8.164319e+09,...,0.07,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,000002,XSHE,2012-10-24,2012/9/30,2011/9/30,Q3,9,1,2.930837e+10,...,0.33,0.33,1.342794e+08,NaN,NaN,4.240628e+09,3.718190e+09,5.224388e+08,NaN,NaN
2,3,000002,XSHE,2014-08-18,2014/6/30,2013/6/30,S1,6,1,4.139035e+10,...,0.41,0.41,2.611946e+07,NaN,NaN,5.362011e+09,4.582424e+09,7.795864e+08,NaN,NaN
3,3,000002,XSHE,2015-03-31,2014/12/31,2014/12/31,A,12,1,1.460000e+11,...,1.43,1.43,6.460081e+07,NaN,NaN,1.935212e+10,1.581769e+10,3.534438e+09,NaN,NaN
4,3,000002,XSHE,2016-03-14,2015/12/31,2014/12/31,A,12,1,1.460000e+11,...,1.43,1.43,6.460081e+07,NaN,NaN,1.935212e+10,1.581769e+10,3.534438e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208301,10007003,603839,XSHG,2017-01-23,2016/6/30,2016/6/30,S1,6,1,5.291353e+08,...,0.55,NaN,-2.137795e+06,NaN,NaN,1.153017e+08,1.153017e+08,NaN,NaN,NaN
208302,10007004,603360,XSHG,2017-01-09,2016/6/30,2014/12/31,A,12,1,3.466358e+08,...,0.64,0.64,-1.868446e+04,NaN,NaN,6.401363e+07,6.401363e+07,NaN,NaN,NaN
208303,10007004,603360,XSHG,2017-01-09,2016/6/30,2015/12/31,A,12,1,3.279914e+08,...,0.57,0.57,5.698963e+04,NaN,NaN,5.675060e+07,5.741808e+07,-6.674823e+05,NaN,NaN
208304,10007004,603360,XSHG,2017-01-17,2016/6/30,2016/6/30,S1,6,1,1.872872e+08,...,0.44,0.44,9.781100e+02,NaN,NaN,4.332336e+07,4.352669e+07,-2.033293e+05,NaN,NaN
208305,10007004,603360,XSHG,2017-04-24,2016/12/31,2016/12/31,A,12,1,3.894340e+08,...,0.98,0.98,5.094348e+04,NaN,NaN,9.799694e+07,9.837372e+07,-3.767774e+05,NaN,NaN