# 数据与任务

In [1]:
# 原始数据有三个表，每个表有四个sheets
    #三个数据表：BalanceSheet.xlsx，IncomeStatement.xlsx，CashFlowStatement.xlsx
    #每个数据表有四个sheets：'General Business','Bank','Securities','Insurance'
#本程序的主要实现：
    #1.开发一个类：统一从三个数据表中读取四个sheet
    #2.以从资产负债表（Balance Sheet.xlsx）中读取银行来数据为任务，调用 ExcelReader类

# 定义读取EXCEL数据的类

In [2]:
#思路：
    #1.初始化函数__init__（）中的统一读取excel文件
    #2.每个sheet用一个专用函数读取
    #3.self参数来传递【1】的结果至【2】

class ExcelReader:
    "读取三大报表类"
    def __init__(self, path=None):
        self.path = path
        self.dataAll = pd.read_excel(path,sheet_name=['General Business','Bank','Securities','Insurance'],converters={'TICKER_SYMBOL':str,'PARTY_ID':str})

    def getGB(self):
        data_part = pd.DataFrame(self.dataAll['General Business'])
        return(data_part)

    def getBank(self):
        data_part = pd.DataFrame(self.dataAll['Bank'])
        return(data_part)

    def getSecu(self):
        data_part = pd.DataFrame(self.dataAll['Securities'])
        return(data_part)

    def getInsu(self):
        data_part = pd.DataFrame(self.dataAll['Insurance'])
        return(data_part)

# 读取银行类企业的资产负债表

In [3]:
import pandas as pd
PATH_BALANCESHEET_FILE = 'Data/BalanceSheet.xlsx' #资产负债表
BalanceSheet = ExcelReader(PATH_BALANCESHEET_FILE)
BalanceSheet.getBank().head()

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,C_RESER_CB,...,SEE,SEA,T_EQUITY_ATTR_P,MINORITY_INT,OTH_EFFECT_SE,OTH_EFFECT_SA,T_SH_EQUITY,LEE,LEA,T_LIAB_EQUITY
0,2,000001,XSHE,2010-08-25,2010-06-30,2009-12-31,A,12,1,5.424395e+10,...,NaN,NaN,2.046961e+10,NaN,NaN,NaN,2.046961e+10,NaN,NaN,5.878110e+11
1,2041,601998,XSHG,2012-04-28,2012-03-31,2011-12-31,A,12,1,3.663910e+11,...,NaN,NaN,1.744960e+11,4.285000e+09,NaN,NaN,1.787810e+11,NaN,NaN,2.765881e+12
2,617,600016,XSHG,2012-04-27,2012-03-31,2011-12-31,A,12,1,3.328050e+11,...,NaN,NaN,1.295970e+11,4.513000e+09,NaN,NaN,1.341100e+11,NaN,NaN,2.229064e+12
3,629,600036,XSHG,2013-03-29,2012-12-31,2012-12-31,A,12,1,4.714150e+11,...,NaN,NaN,2.004340e+11,7.300000e+07,NaN,NaN,2.005070e+11,NaN,NaN,3.408219e+12
4,629,600036,XSHG,2013-03-29,2012-12-31,2011-12-31,A,12,1,4.083040e+11,...,NaN,NaN,1.649970e+11,1.300000e+07,NaN,NaN,1.650100e+11,NaN,NaN,2.794971e+12

In [4]:
#查看资产负债表中名称为bank的sheet的形状
BalanceSheet.getBank().shape

(1593, 73)

 # 存储银行类企业的资产负债表

In [5]:
#为了方便后续测试，将数据框保存至文件testData.csv
BalanceSheet.getBank().to_csv("Data/df_BalanceSheet_Bank.csv")

In [6]:
#后续代码均从这个文件读出，不再用class ExcelReader
import pandas as pd
df_BalanceSheet_Bank=pd.read_csv("Data/df_BalanceSheet_Bank.csv", index_col=0)
df_BalanceSheet_Bank.head()

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,C_RESER_CB,...,SEE,SEA,T_EQUITY_ATTR_P,MINORITY_INT,OTH_EFFECT_SE,OTH_EFFECT_SA,T_SH_EQUITY,LEE,LEA,T_LIAB_EQUITY
0,2,1,XSHE,2010-08-25,2010-06-30,2009-12-31,A,12,1,5.424395e+10,...,NaN,NaN,2.046961e+10,NaN,NaN,NaN,2.046961e+10,NaN,NaN,5.878110e+11
1,2041,601998,XSHG,2012-04-28,2012-03-31,2011-12-31,A,12,1,3.663910e+11,...,NaN,NaN,1.744960e+11,4.285000e+09,NaN,NaN,1.787810e+11,NaN,NaN,2.765881e+12
2,617,600016,XSHG,2012-04-27,2012-03-31,2011-12-31,A,12,1,3.328050e+11,...,NaN,NaN,1.295970e+11,4.513000e+09,NaN,NaN,1.341100e+11,NaN,NaN,2.229064e+12
3,629,600036,XSHG,2013-03-29,2012-12-31,2012-12-31,A,12,1,4.714150e+11,...,NaN,NaN,2.004340e+11,7.300000e+07,NaN,NaN,2.005070e+11,NaN,NaN,3.408219e+12
4,629,600036,XSHG,2013-03-29,2012-12-31,2011-12-31,A,12,1,4.083040e+11,...,NaN,NaN,1.649970e+11,1.300000e+07,NaN,NaN,1.650100e+11,NaN,NaN,2.794971e+12

In [7]:
#查看读取数据形状是否与原始数据一致
df_BalanceSheet_Bank.shape

(1593, 73)

In [8]:
df_BalanceSheet_Bank.shape == BalanceSheet.getBank().shape

True