In [1]:

#本函数的功能为资产负债表和利润表的合并
# def Bank_s(df_BalanceSheet_Bank,df_IncomeStatement):

# 资产负债表的处理

## 读入银行类企业资产负债数据

In [2]:
#读取银行类企业的资产负债表df_BalanceSheet_Bank.csv
import pandas as pd
df_BalanceSheet_Bank = pd.read_csv('Data/df_BalanceSheet_Bank.csv',
                                   index_col=0,
                                   dtype={'TICKER_SYMBOL':str})
df_BalanceSheet_Bank.head()

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,C_RESER_CB,...,SEE,SEA,T_EQUITY_ATTR_P,MINORITY_INT,OTH_EFFECT_SE,OTH_EFFECT_SA,T_SH_EQUITY,LEE,LEA,T_LIAB_EQUITY
0,2,000001,XSHE,2010-08-25,2010-06-30,2009-12-31,A,12,1,5.424395e+10,...,NaN,NaN,2.046961e+10,NaN,NaN,NaN,2.046961e+10,NaN,NaN,5.878110e+11
1,2041,601998,XSHG,2012-04-28,2012-03-31,2011-12-31,A,12,1,3.663910e+11,...,NaN,NaN,1.744960e+11,4.285000e+09,NaN,NaN,1.787810e+11,NaN,NaN,2.765881e+12
2,617,600016,XSHG,2012-04-27,2012-03-31,2011-12-31,A,12,1,3.328050e+11,...,NaN,NaN,1.295970e+11,4.513000e+09,NaN,NaN,1.341100e+11,NaN,NaN,2.229064e+12
3,629,600036,XSHG,2013-03-29,2012-12-31,2012-12-31,A,12,1,4.714150e+11,...,NaN,NaN,2.004340e+11,7.300000e+07,NaN,NaN,2.005070e+11,NaN,NaN,3.408219e+12
4,629,600036,XSHG,2013-03-29,2012-12-31,2011-12-31,A,12,1,4.083040e+11,...,NaN,NaN,1.649970e+11,1.300000e+07,NaN,NaN,1.650100e+11,NaN,NaN,2.794971e+12

In [3]:
df_BalanceSheet_Bank.shape

(1593, 73)

## 缺失值的处理

In [4]:
#判断某个列上是否有缺失值
df_BalanceSheet_Bank.columns[df_BalanceSheet_Bank.isnull().any()]

    #提示 df_BalanceSheet_Bank.isnull()的含义为每个元素是否为空
    #提示：.any()为ufunc

Index(['C_RESER_CB', 'DEPOS_IN_OTH_BFI', 'PRECI_METALS', 'LOAN_TO_OTH_BANK_FI',
       'TRADING_FA', 'DERIV_ASSETS', 'PUR_RESALE_FA', 'INT_RECEIV',
       'DISBUR_LA', 'FINAN_LEASE_RECEIV', 'AVAIL_FOR_SALE_FA', 'HTM_INVEST',
       'INVEST_AS_RECEIV', 'LT_EQUITY_INVEST', 'INVEST_REAL_ESTATE',
       'FIXED_ASSETS', 'CIP', 'INTAN_ASSETS', 'GOODWILL', 'DEFER_TAX_ASSETS',
       'OTH_ASSETS', 'AE', 'AA', 'CB_BORR', 'DEPOS_FR_OTH_BFI',
       'LOAN_FR_OTH_BANK_FI', 'TRADING_FL', 'DERIV_LIAB', 'SOLD_FOR_REPUR_FA',
       'DEPOS', 'PAYROLL_PAYABLE', 'INT_PAYABLE', 'ESTIMATED_LIAB',
       'BOND_PAYABLE', 'PREFERRED_STOCK_L', 'PERPETUAL_BOND_L',
       'DEFER_TAX_LIAB', 'OTH_LIAB', 'LE', 'LA', 'OTH_EQUITY_INSTR',
       'PREFERRED_STOCK_E', 'PERPETUAL_BOND_E', 'CAPITAL_RESER',
       'TREASURY_SHARE', 'OTH_COMPRE_INCOME', 'SURPLUS_RESER', 'FOREX_DIFFER',
       'SEE', 'SEA', 'MINORITY_INT', 'OTH_EFFECT_SE', 'OTH_EFFECT_SA', 'LEE',
       'LEA'],
      dtype='object')

In [5]:
#判断某个列上是否有缺失值
df_BalanceSheet_Bank.isnull().any()
# df_BalanceSheet_Bank.columns[df_BalanceSheet_Bank.isnull().any()]

PARTY_ID         False
TICKER_SYMBOL    False
EXCHANGE_CD      False
PUBLISH_DATE     False
END_DATE_REP     False
                 ...
OTH_EFFECT_SA     True
T_SH_EQUITY      False
LEE               True
LEA               True
T_LIAB_EQUITY    False
Length: 73, dtype: bool

In [6]:
#缺失值的填充
    #填充值为0.00001
df_BalanceSheet_Bank.loc[:, df_BalanceSheet_Bank.dtypes == 'float64'] = df_BalanceSheet_Bank.loc[:, df_BalanceSheet_Bank.dtypes == "float64"].fillna(0.00001)
df_BalanceSheet_Bank.shape

(1593, 73)

In [7]:
df_BalanceSheet_Bank.shape

(1593, 73)

##  特征选择

In [8]:
#特征选择，删除以下3列
    #PARTY_ID_机构内部ID
    #END_DATE_REP_报告截止日期
    #REPORT_TYPE_报告类型，Q1-一季度末,S1-半年度末,Q3-三季度末,A-年度末
    
df_BalanceSheet_Bank = df_BalanceSheet_Bank[df_BalanceSheet_Bank.columns.drop(["PARTY_ID", "END_DATE_REP", "REPORT_TYPE"])]
df_BalanceSheet_Bank.shape

(1593, 70)

## 样本选择

In [9]:
#按条件 MERGED_FLAG == 1 来过滤
    #MERGED_FLAG	Merged flag	合并标志	1-表示合并，全部数据的这个属性均为1
    #竞赛提供的原始数据集仅收集合并报表数据，包括期末和期初数据；
    #所以，这两行代码没有实质性意义
    
df_BalanceSheet_Bank = df_BalanceSheet_Bank[(df_BalanceSheet_Bank.MERGED_FLAG == 1)]
df_BalanceSheet_Bank.head()

,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE,FISCAL_PERIOD,MERGED_FLAG,C_RESER_CB,DEPOS_IN_OTH_BFI,PRECI_METALS,LOAN_TO_OTH_BANK_FI,...,SEE,SEA,T_EQUITY_ATTR_P,MINORITY_INT,OTH_EFFECT_SE,OTH_EFFECT_SA,T_SH_EQUITY,LEE,LEA,T_LIAB_EQUITY
0,000001,XSHE,2010-08-25,2009-12-31,12,1,5.424395e+10,1.559254e+10,3.302000e+06,5.361139e+09,...,0.00001,0.00001,2.046961e+10,1.000000e-05,0.00001,0.00001,2.046961e+10,0.00001,0.00001,5.878110e+11
1,601998,XSHG,2012-04-28,2011-12-31,12,1,3.663910e+11,3.865350e+11,1.000000e-05,1.510040e+11,...,0.00001,0.00001,1.744960e+11,4.285000e+09,0.00001,0.00001,1.787810e+11,0.00001,0.00001,2.765881e+12
2,600016,XSHG,2012-04-27,2011-12-31,12,1,3.328050e+11,2.323360e+11,5.270000e+08,3.774500e+10,...,0.00001,0.00001,1.295970e+11,4.513000e+09,0.00001,0.00001,1.341100e+11,0.00001,0.00001,2.229064e+12
3,600036,XSHG,2013-03-29,2012-12-31,12,1,4.714150e+11,2.808700e+11,1.000000e-05,1.034200e+11,...,0.00001,0.00001,2.004340e+11,7.300000e+07,0.00001,0.00001,2.005070e+11,0.00001,0.00001,3.408219e+12
4,600036,XSHG,2013-03-29,2011-12-31,12,1,4.083040e+11,6.304600e+10,1.000000e-05,1.313810e+11,...,0.00001,0.00001,1.649970e+11,1.300000e+07,0.00001,0.00001,1.650100e+11,0.00001,0.00001,2.794971e+12

In [10]:
#排序并重复过滤
    #TICKER_SYMBOL_股票代码
    #PUBLISH_DATE_发布时间
    #END_DATE_截止日期
    #重复过滤的条件：TICKER_SYMBOL', 'END_DATE'
    
df_BalanceSheet_Bank = df_BalanceSheet_Bank.sort_values(by = ['TICKER_SYMBOL', 'PUBLISH_DATE', 'END_DATE'],
                                                        ascending = False)

df_BalanceSheet_Bank = df_BalanceSheet_Bank.drop_duplicates(['TICKER_SYMBOL', 'END_DATE'],
                                                            keep='first')

In [11]:
#将END_DATE改为日期类型，并删除重复行
df_BalanceSheet_Bank["END_DATE"] =pd.to_datetime(df_BalanceSheet_Bank["END_DATE"])
df_BalanceSheet_Bank = df_BalanceSheet_Bank.drop_duplicates()

## 资产的分类及分析

In [12]:
#定义资产分类表_ASSET_CATEGORIES 
#     '''
#     资产分为：
#     现金及类现金资产CRASH_ASSETS
#     投资类资产INVEST_ASSETS
#     贷款类资产LOANS_ASSETS
#     经营类资产OPERATION_ASSET
#     '''

ASSET_CATEGORIES=pd.DataFrame({'ORIGINAL_COLUMN_NAMES':["C_RESER_CB","DEPOS_IN_OTH_BFI",
                                                        "PRECI_METALS","LOAN_TO_OTH_BANK_FI",
                                                        "TRADING_FA","DERIV_ASSETS","PUR_RESALE_FA",
                                                        "INT_RECEIV","DISBUR_LA",
                                                        "FINAN_LEASE_RECEIV","AVAIL_FOR_SALE_FA","HTM_INVEST",
                                                        "INVEST_AS_RECEIV",  "LT_EQUITY_INVEST","INVEST_REAL_ESTATE",
                                                        "FIXED_ASSETS","CIP","INTAN_ASSETS", "GOODWILL",
                                                        "DEFER_TAX_ASSETS","OTH_ASSETS","AE","AA"],
                                  'ASSET_CLASS':["CRASH_ASSETS","CRASH_ASSETS","INVEST_ASSETS",
                                                 "CRASH_ASSETS","INVEST_ASSETS",
                                                 "INVEST_ASSETS","INVEST_ASSETS",
                                                 "INVEST_ASSETS","LOANS_ASSETS","LOANS_ASSETS",
                                                 "INVEST_ASSETS","INVEST_ASSETS","LOANS_ASSETS",
                                                 "INVEST_ASSETS","INVEST_ASSETS",
                                                 "OPERATION_ASSET","OPERATION_ASSET","OPERATION_ASSET",
                                                 "OPERATION_ASSET","OPERATION_ASSET",
                                                 "OPERATION_ASSET","OPERATION_ASSET","OPERATION_ASSET"]})
ASSET_CATEGORIES

   ORIGINAL_COLUMN_NAMES      ASSET_CLASS
0             C_RESER_CB     CRASH_ASSETS
1       DEPOS_IN_OTH_BFI     CRASH_ASSETS
2           PRECI_METALS    INVEST_ASSETS
3    LOAN_TO_OTH_BANK_FI     CRASH_ASSETS
4             TRADING_FA    INVEST_ASSETS
5           DERIV_ASSETS    INVEST_ASSETS
6          PUR_RESALE_FA    INVEST_ASSETS
7             INT_RECEIV    INVEST_ASSETS
8              DISBUR_LA     LOANS_ASSETS
9     FINAN_LEASE_RECEIV     LOANS_ASSETS
10     AVAIL_FOR_SALE_FA    INVEST_ASSETS
11            HTM_INVEST    INVEST_ASSETS
12      INVEST_AS_RECEIV     LOANS_ASSETS
13      LT_EQUITY_INVEST    INVEST_ASSETS
14    INVEST_REAL_ESTATE    INVEST_ASSETS
15          FIXED_ASSETS  OPERATION_ASSET
16                   CIP  OPERATION_ASSET
17          INTAN_ASSETS  OPERATION_ASSET
18              GOODWILL  OPERATION_ASSET
19      DEFER_TAX_ASSETS  OPERATION_ASSET
20            OTH_ASSETS  OPERATION_ASSET
21                    AE  OPERATION_ASSET
22                    AA  OPERATION_ASSET

In [13]:
#显式列名清单
column_lists = ASSET_CATEGORIES['ORIGINAL_COLUMN_NAMES'].values
column_lists

array(['C_RESER_CB', 'DEPOS_IN_OTH_BFI', 'PRECI_METALS',
       'LOAN_TO_OTH_BANK_FI', 'TRADING_FA', 'DERIV_ASSETS',
       'PUR_RESALE_FA', 'INT_RECEIV', 'DISBUR_LA', 'FINAN_LEASE_RECEIV',
       'AVAIL_FOR_SALE_FA', 'HTM_INVEST', 'INVEST_AS_RECEIV',
       'LT_EQUITY_INVEST', 'INVEST_REAL_ESTATE', 'FIXED_ASSETS', 'CIP',
       'INTAN_ASSETS', 'GOODWILL', 'DEFER_TAX_ASSETS', 'OTH_ASSETS', 'AE',
       'AA'], dtype=object)

In [14]:
#在列名清单中增加两个列'TICKER_SYMBOL', 'END_DATE'
    #注：此cell代码为就地修改
import numpy as np
column_lists = np.append(column_lists, ['TICKER_SYMBOL', 'END_DATE'])
column_lists

array(['C_RESER_CB', 'DEPOS_IN_OTH_BFI', 'PRECI_METALS',
       'LOAN_TO_OTH_BANK_FI', 'TRADING_FA', 'DERIV_ASSETS',
       'PUR_RESALE_FA', 'INT_RECEIV', 'DISBUR_LA', 'FINAN_LEASE_RECEIV',
       'AVAIL_FOR_SALE_FA', 'HTM_INVEST', 'INVEST_AS_RECEIV',
       'LT_EQUITY_INVEST', 'INVEST_REAL_ESTATE', 'FIXED_ASSETS', 'CIP',
       'INTAN_ASSETS', 'GOODWILL', 'DEFER_TAX_ASSETS', 'OTH_ASSETS', 'AE',
       'AA', 'TICKER_SYMBOL', 'END_DATE'], dtype=object)

In [15]:
#按照新的列名清单对数据框df_BalanceSheet_Bank进行切片处理
df_BalanceSheet_Bank1 = df_BalanceSheet_Bank[column_lists]
df_BalanceSheet_Bank1.head()

,C_RESER_CB,DEPOS_IN_OTH_BFI,PRECI_METALS,LOAN_TO_OTH_BANK_FI,TRADING_FA,DERIV_ASSETS,PUR_RESALE_FA,INT_RECEIV,DISBUR_LA,FINAN_LEASE_RECEIV,...,FIXED_ASSETS,CIP,INTAN_ASSETS,GOODWILL,DEFER_TAX_ASSETS,OTH_ASSETS,AE,AA,TICKER_SYMBOL,END_DATE
1211,1.200574e+10,1.771855e+09,0.00001,1.062004e+09,3.063830e+08,0.00001,6.807550e+09,586742000.0,4.915055e+10,0.00001,...,675315000.0,636258000.0,169993000.0,0.00001,466408000.0,608925000.0,0.00001,0.00001,603323,2018-03-31
1008,1.173364e+10,1.264460e+09,0.00001,9.900650e+08,8.645400e+07,0.00001,5.619180e+09,522067000.0,4.746270e+10,0.00001,...,688098000.0,598661000.0,174026000.0,0.00001,450515000.0,315261000.0,0.00001,0.00001,603323,2017-12-31
1010,1.285137e+10,5.433034e+09,0.00001,5.410860e+08,1.000000e-05,0.00001,1.000000e+08,314926000.0,4.392675e+10,0.00001,...,734495000.0,363747000.0,164748000.0,0.00001,349545000.0,341838000.0,0.00001,0.00001,603323,2016-12-31
1376,1.124650e+10,2.072439e+09,0.00001,9.247620e+08,6.412880e+08,0.00001,1.399600e+09,450867000.0,4.674785e+10,0.00001,...,695652000.0,576454000.0,162825000.0,0.00001,408413000.0,361865000.0,0.00001,0.00001,603323,2017-09-30
1576,1.155444e+10,2.539188e+09,0.00001,1.023245e+09,1.180520e+08,0.00001,7.445000e+08,381930000.0,4.607196e+10,0.00001,...,706955000.0,552735000.0,162210000.0,0.00001,362451000.0,628261000.0,0.00001,0.00001,603323,2017-06-30

In [16]:
#改变df_BalanceSheet_Bank1的形状，id为'TICKER_SYMBOL', 'END_DATE'
df_BalanceSheet_Bank2 = pd.melt(df_BalanceSheet_Bank1, 
                                id_vars=['TICKER_SYMBOL', 'END_DATE'], 
                                var_name='ORIGINAL_COLUMN_NAMES',
                                value_name='valuenum')

df_BalanceSheet_Bank2

      TICKER_SYMBOL   END_DATE ORIGINAL_COLUMN_NAMES      valuenum
0            603323 2018-03-31            C_RESER_CB  1.200574e+10
1            603323 2017-12-31            C_RESER_CB  1.173364e+10
2            603323 2016-12-31            C_RESER_CB  1.285137e+10
3            603323 2017-09-30            C_RESER_CB  1.124650e+10
4            603323 2017-06-30            C_RESER_CB  1.155444e+10
...             ...        ...                   ...           ...
17728        000001 2010-03-31                    AA  1.000000e-05
17729        000001 2008-12-31                    AA  1.000000e-05
17730        000001 2009-09-30                    AA  1.000000e-05
17731        000001 2009-06-30                    AA  1.000000e-05
17732        000001 2009-03-31                    AA  1.000000e-05

[17733 rows x 4 columns]

In [17]:
#合并df_BalanceSheet_Bank2和 ASSET_CATEGORIES

df_BalanceSheet_Bank3 = pd.merge(df_BalanceSheet_Bank2, ASSET_CATEGORIES, how='left', 
                                 on='ORIGINAL_COLUMN_NAMES')
df_BalanceSheet_Bank3 .head()

  TICKER_SYMBOL   END_DATE ORIGINAL_COLUMN_NAMES      valuenum   ASSET_CLASS
0        603323 2018-03-31            C_RESER_CB  1.200574e+10  CRASH_ASSETS
1        603323 2017-12-31            C_RESER_CB  1.173364e+10  CRASH_ASSETS
2        603323 2016-12-31            C_RESER_CB  1.285137e+10  CRASH_ASSETS
3        603323 2017-09-30            C_RESER_CB  1.124650e+10  CRASH_ASSETS
4        603323 2017-06-30            C_RESER_CB  1.155444e+10  CRASH_ASSETS

In [18]:
#按资产类型分组统计
    #ASSET_CLASS为资产类型
df_BalanceSheet_Bank3  = df_BalanceSheet_Bank3.groupby(['TICKER_SYMBOL','END_DATE', 'ASSET_CLASS'],
                                                       as_index=False)['valuenum'].sum()
df_BalanceSheet_Bank3.head()

  TICKER_SYMBOL   END_DATE      ASSET_CLASS      valuenum
0        000001 2008-12-31     CRASH_ASSETS  7.050539e+10
1        000001 2008-12-31    INVEST_ASSETS  1.018940e+11
2        000001 2008-12-31     LOANS_ASSETS  2.954647e+11
3        000001 2008-12-31  OPERATION_ASSET  6.576143e+09
4        000001 2009-03-31     CRASH_ASSETS  8.219277e+10

In [19]:
#产生分组统计的透视表
df_BalanceSheet_Bank4 = (df_BalanceSheet_Bank3.pivot_table(index=['TICKER_SYMBOL','END_DATE'],
                                                           columns='ASSET_CLASS',
                                                           values='valuenum').reset_index())
df_BalanceSheet_Bank4.head()

ASSET_CLASS,TICKER_SYMBOL,END_DATE,CRASH_ASSETS,INVEST_ASSETS,LOANS_ASSETS,OPERATION_ASSET
0,000001,2008-12-31,7.050539e+10,1.018940e+11,2.954647e+11,6.576143e+09
1,000001,2009-03-31,8.219277e+10,1.023348e+11,3.307247e+11,6.627131e+09
2,000001,2009-06-30,7.103941e+10,1.077428e+11,3.530069e+11,9.436620e+09
3,000001,2009-09-30,7.166002e+10,1.012784e+11,3.708491e+11,1.047722e+10
4,000001,2009-12-31,7.519763e+10,1.162848e+11,3.859896e+11,1.033892e+10

In [20]:
#读取数值型列
numericalcolumn_lists=df_BalanceSheet_Bank.columns[df_BalanceSheet_Bank.dtypes=='float64']
df_BalanceSheet_Bank_numericalcolumns=df_BalanceSheet_Bank[numericalcolumn_lists]
df_BalanceSheet_Bank_numericalcolumns

,C_RESER_CB,DEPOS_IN_OTH_BFI,PRECI_METALS,LOAN_TO_OTH_BANK_FI,TRADING_FA,DERIV_ASSETS,PUR_RESALE_FA,INT_RECEIV,DISBUR_LA,FINAN_LEASE_RECEIV,...,SEE,SEA,T_EQUITY_ATTR_P,MINORITY_INT,OTH_EFFECT_SE,OTH_EFFECT_SA,T_SH_EQUITY,LEE,LEA,T_LIAB_EQUITY
1211,1.200574e+10,1.771855e+09,1.000000e-05,1.062004e+09,3.063830e+08,1.000000e-05,6.807550e+09,5.867420e+08,4.915055e+10,0.00001,...,0.00001,0.00001,8.577583e+09,1.094740e+08,0.00001,0.00001,8.687057e+09,0.00001,0.00001,1.019051e+11
1008,1.173364e+10,1.264460e+09,1.000000e-05,9.900650e+08,8.645400e+07,1.000000e-05,5.619180e+09,5.220670e+08,4.746270e+10,0.00001,...,0.00001,0.00001,8.366341e+09,1.064620e+08,0.00001,0.00001,8.472803e+09,0.00001,0.00001,9.527088e+10
1010,1.285137e+10,5.433034e+09,1.000000e-05,5.410860e+08,1.000000e-05,1.000000e-05,1.000000e+08,3.149260e+08,4.392675e+10,0.00001,...,0.00001,0.00001,7.776203e+09,1.025820e+08,0.00001,0.00001,7.878785e+09,0.00001,0.00001,8.134836e+10
1376,1.124650e+10,2.072439e+09,1.000000e-05,9.247620e+08,6.412880e+08,1.000000e-05,1.399600e+09,4.508670e+08,4.674785e+10,0.00001,...,0.00001,0.00001,8.295282e+09,1.050050e+08,0.00001,0.00001,8.400287e+09,0.00001,0.00001,8.743300e+10
1576,1.155444e+10,2.539188e+09,1.000000e-05,1.023245e+09,1.180520e+08,1.000000e-05,7.445000e+08,3.819300e+08,4.607196e+10,0.00001,...,0.00001,0.00001,8.124960e+09,1.015160e+08,0.00001,0.00001,8.226476e+09,0.00001,0.00001,8.466360e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093,5.648850e+10,1.124296e+10,2.946000e+06,5.015728e+09,1.352405e+09,1.105770e+08,5.720913e+10,1.957240e+09,3.676043e+11,0.00001,...,0.00001,0.00001,2.210983e+10,1.000000e-05,0.00001,0.00001,2.210983e+10,0.00001,0.00001,6.199276e+11
269,3.976790e+10,2.150081e+10,9.225000e+06,9.236676e+09,4.144100e+07,2.907510e+08,3.473335e+10,1.605636e+09,2.817147e+11,0.00001,...,0.00001,0.00001,1.640079e+10,1.000000e-05,0.00001,0.00001,1.640079e+10,0.00001,0.00001,4.744402e+11
1295,4.542918e+10,1.781418e+10,4.694000e+06,8.416666e+09,1.408176e+09,1.736110e+08,3.602692e+10,1.660956e+09,3.568991e+11,0.00001,...,0.00001,0.00001,1.908844e+10,1.000000e-05,0.00001,0.00001,1.908844e+10,0.00001,0.00001,5.542647e+11
1465,4.222817e+10,2.081290e+10,5.342000e+06,7.998342e+09,1.785393e+09,1.623540e+08,3.795794e+10,1.711397e+09,3.390569e+11,0.00001,...,0.00001,0.00001,1.798739e+10,1.000000e-05,0.00001,0.00001,1.798739e+10,0.00001,0.00001,5.412257e+11
1103,3.954528e+10,3.281080e+10,7.080000e+06,9.836695e+09,1.363916e+09,2.002500e+08,3.247499e+10,1.946312e+09,3.168747e+11,0.00001,...,0.00001,0.00001,1.707213e+10,1.000000e-05,0.00001,0.00001,1.707213e+10,0.00001,0.00001,5.218794e+11

In [21]:
#读取两列——'TICKER_SYMBOL','END_DATE'的值
df_BalanceSheet_Bank_idcolumns=df_BalanceSheet_Bank[['TICKER_SYMBOL','END_DATE']]
df_BalanceSheet_Bank_idcolumns.head()

     TICKER_SYMBOL   END_DATE
1211        603323 2018-03-31
1008        603323 2017-12-31
1010        603323 2016-12-31
1376        603323 2017-09-30
1576        603323 2017-06-30

In [22]:
df_BalanceSheet_Bank_numericalcolumns.head()

,C_RESER_CB,DEPOS_IN_OTH_BFI,PRECI_METALS,LOAN_TO_OTH_BANK_FI,TRADING_FA,DERIV_ASSETS,PUR_RESALE_FA,INT_RECEIV,DISBUR_LA,FINAN_LEASE_RECEIV,...,SEE,SEA,T_EQUITY_ATTR_P,MINORITY_INT,OTH_EFFECT_SE,OTH_EFFECT_SA,T_SH_EQUITY,LEE,LEA,T_LIAB_EQUITY
1211,1.200574e+10,1.771855e+09,0.00001,1.062004e+09,3.063830e+08,0.00001,6.807550e+09,586742000.0,4.915055e+10,0.00001,...,0.00001,0.00001,8.577583e+09,109474000.0,0.00001,0.00001,8.687057e+09,0.00001,0.00001,1.019051e+11
1008,1.173364e+10,1.264460e+09,0.00001,9.900650e+08,8.645400e+07,0.00001,5.619180e+09,522067000.0,4.746270e+10,0.00001,...,0.00001,0.00001,8.366341e+09,106462000.0,0.00001,0.00001,8.472803e+09,0.00001,0.00001,9.527088e+10
1010,1.285137e+10,5.433034e+09,0.00001,5.410860e+08,1.000000e-05,0.00001,1.000000e+08,314926000.0,4.392675e+10,0.00001,...,0.00001,0.00001,7.776203e+09,102582000.0,0.00001,0.00001,7.878785e+09,0.00001,0.00001,8.134836e+10
1376,1.124650e+10,2.072439e+09,0.00001,9.247620e+08,6.412880e+08,0.00001,1.399600e+09,450867000.0,4.674785e+10,0.00001,...,0.00001,0.00001,8.295282e+09,105005000.0,0.00001,0.00001,8.400287e+09,0.00001,0.00001,8.743300e+10
1576,1.155444e+10,2.539188e+09,0.00001,1.023245e+09,1.180520e+08,0.00001,7.445000e+08,381930000.0,4.607196e+10,0.00001,...,0.00001,0.00001,8.124960e+09,101516000.0,0.00001,0.00001,8.226476e+09,0.00001,0.00001,8.466360e+10

In [23]:
print(df_BalanceSheet_Bank_numericalcolumns.columns)

Index(['C_RESER_CB', 'DEPOS_IN_OTH_BFI', 'PRECI_METALS', 'LOAN_TO_OTH_BANK_FI',
       'TRADING_FA', 'DERIV_ASSETS', 'PUR_RESALE_FA', 'INT_RECEIV',
       'DISBUR_LA', 'FINAN_LEASE_RECEIV', 'AVAIL_FOR_SALE_FA', 'HTM_INVEST',
       'INVEST_AS_RECEIV', 'LT_EQUITY_INVEST', 'INVEST_REAL_ESTATE',
       'FIXED_ASSETS', 'CIP', 'INTAN_ASSETS', 'GOODWILL', 'DEFER_TAX_ASSETS',
       'OTH_ASSETS', 'AE', 'AA', 'T_ASSETS', 'CB_BORR', 'DEPOS_FR_OTH_BFI',
       'LOAN_FR_OTH_BANK_FI', 'TRADING_FL', 'DERIV_LIAB', 'SOLD_FOR_REPUR_FA',
       'DEPOS', 'PAYROLL_PAYABLE', 'TAXES_PAYABLE', 'INT_PAYABLE',
       'ESTIMATED_LIAB', 'BOND_PAYABLE', 'PREFERRED_STOCK_L',
       'PERPETUAL_BOND_L', 'DEFER_TAX_LIAB', 'OTH_LIAB', 'LE', 'LA', 'T_LIAB',
       'PAID_IN_CAPITAL', 'OTH_EQUITY_INSTR', 'PREFERRED_STOCK_E',
       'PERPETUAL_BOND_E', 'CAPITAL_RESER', 'TREASURY_SHARE',
       'OTH_COMPRE_INCOME', 'SURPLUS_RESER', 'ORDIN_RISK_RESER',
       'RETAINED_EARNINGS', 'FOREX_DIFFER', 'SEE', 'SEA', 'T_EQUITY_ATTR_P',
       'MINORITY_INT', 'OTH_EFFECT_SE', 'OTH_EFFECT_SA', 'T_SH_EQUITY', 'LEE',
       'LEA', 'T_LIAB_EQUITY'],
      dtype='object')

In [24]:
#每一类资产在总资产的占比
    #T_ASSETS为原始数据表中的列名，	Total assets	资产总计
        
df_Bank_numerical=df_BalanceSheet_Bank_numericalcolumns #为了程序可读性，进行了重命名
Percentage_OF_TotalAseets=np.array([[w]*df_Bank_numerical.shape[1] for w in df_Bank_numerical.T_ASSETS])
Percentage_OF_TotalAseets=df_Bank_numerical/Percentage_OF_TotalAseets
Percentage_OF_TotalAseets.shape

(771, 64)

In [25]:
#删除两列——T_ASSETS和T_LIAB_EQUITY
    #T_ASSETS为原始数据表中的列名，	Total assets	资产总计
    #T_LIAB_EQUITY	Total liabilities and equity	负债和所有者权益(或股东权益)总计  
Percentage_OF_TotalAseets=Percentage_OF_TotalAseets[Percentage_OF_TotalAseets.columns.drop(['T_ASSETS','T_LIAB_EQUITY'])]

#每个列名前加前缀T_ASSETS
Percentage_OF_TotalAseets.columns=np.char.add('T_ASSETS_' , list(Percentage_OF_TotalAseets.columns))
Percentage_OF_TotalAseets.head()

,T_ASSETS_C_RESER_CB,T_ASSETS_DEPOS_IN_OTH_BFI,T_ASSETS_PRECI_METALS,T_ASSETS_LOAN_TO_OTH_BANK_FI,T_ASSETS_TRADING_FA,T_ASSETS_DERIV_ASSETS,T_ASSETS_PUR_RESALE_FA,T_ASSETS_INT_RECEIV,T_ASSETS_DISBUR_LA,T_ASSETS_FINAN_LEASE_RECEIV,...,T_ASSETS_FOREX_DIFFER,T_ASSETS_SEE,T_ASSETS_SEA,T_ASSETS_T_EQUITY_ATTR_P,T_ASSETS_MINORITY_INT,T_ASSETS_OTH_EFFECT_SE,T_ASSETS_OTH_EFFECT_SA,T_ASSETS_T_SH_EQUITY,T_ASSETS_LEE,T_ASSETS_LEA
1211,0.117813,0.017387,9.813050e-17,0.010421,3.006552e-03,9.813050e-17,0.066803,0.005758,0.482317,9.813050e-17,...,9.813050e-17,9.813050e-17,9.813050e-17,0.084172,0.001074,9.813050e-17,9.813050e-17,0.085247,9.813050e-17,9.813050e-17
1008,0.123161,0.013272,1.049639e-16,0.010392,9.074546e-04,1.049639e-16,0.058981,0.005480,0.498187,1.049639e-16,...,1.049639e-16,1.049639e-16,1.049639e-16,0.087816,0.001117,1.049639e-16,1.049639e-16,0.088934,1.049639e-16,1.049639e-16
1010,0.157979,0.066787,1.229281e-16,0.006651,1.229281e-16,1.229281e-16,0.001229,0.003871,0.539983,1.229281e-16,...,1.229281e-16,1.229281e-16,1.229281e-16,0.095591,0.001261,1.229281e-16,1.229281e-16,0.096852,1.229281e-16,1.229281e-16
1376,0.128630,0.023703,1.143733e-16,0.010577,7.334622e-03,1.143733e-16,0.016008,0.005157,0.534671,1.143733e-16,...,1.143733e-16,1.143733e-16,1.143733e-16,0.094876,0.001201,1.143733e-16,1.143733e-16,0.096077,1.143733e-16,1.143733e-16
1576,0.136475,0.029991,1.181145e-16,0.012086,1.394366e-03,1.181145e-16,0.008794,0.004511,0.544177,1.181145e-16,...,1.181145e-16,1.181145e-16,1.181145e-16,0.095968,0.001199,1.181145e-16,1.181145e-16,0.097167,1.181145e-16,1.181145e-16

In [26]:
Percentage_OF_TotalAseets.shape
    #注：Percentage_OF_TotalAseets为处理后的原表中的数值型列的值

(771, 62)

In [27]:
# 合并id和values列，即 Percentage_OF_TotalAseets 和 df_BalanceSheet_Bank_idcolumns
Percentage_OF_TotalAseets=pd.concat([df_BalanceSheet_Bank_idcolumns,
                                     Percentage_OF_TotalAseets],
                                    axis=1)
Percentage_OF_TotalAseets.shape
   #列的个数增加了2个

(771, 64)

In [28]:
#查看同一个列是否出现多次
    #可能因为上面的代码运行多次
Percentage_OF_TotalAseets.columns.value_counts().sort_values(ascending=False)

T_ASSETS_TRADING_FA           1
T_ASSETS_OTH_COMPRE_INCOME    1
T_ASSETS_INVEST_AS_RECEIV     1
T_ASSETS_SURPLUS_RESER        1
T_ASSETS_OTH_ASSETS           1
                             ..
T_ASSETS_SEE                  1
T_ASSETS_PREFERRED_STOCK_L    1
T_ASSETS_LA                   1
T_ASSETS_DEFER_TAX_ASSETS     1
T_ASSETS_INTAN_ASSETS         1
Length: 64, dtype: int64

In [29]:
 #所有列/字段在总负债的占比
    #总负债的字段名称为T_LIAB	Total liabilities	负债合计
temp=df_BalanceSheet_Bank4 #透视表
Percentage_OF_TotalLIB=np.array([[w]*df_BalanceSheet_Bank_numericalcolumns.shape[1] for w in df_BalanceSheet_Bank_numericalcolumns.T_LIAB])
Percentage_OF_TotalLIB=df_BalanceSheet_Bank_numericalcolumns / Percentage_OF_TotalLIB
Percentage_OF_TotalLIB=Percentage_OF_TotalLIB[Percentage_OF_TotalLIB.columns.drop(['T_LIAB','T_LIAB_EQUITY'])]
Percentage_OF_TotalLIB.columns=np.char.add('T_LIAB_',list(Percentage_OF_TotalLIB.columns))

Percentage_OF_TotalLIB=pd.concat([df_BalanceSheet_Bank_idcolumns,Percentage_OF_TotalLIB],axis=1)
Percentage_OF_TotalLIB.head()

,TICKER_SYMBOL,END_DATE,T_LIAB_C_RESER_CB,T_LIAB_DEPOS_IN_OTH_BFI,T_LIAB_PRECI_METALS,T_LIAB_LOAN_TO_OTH_BANK_FI,T_LIAB_TRADING_FA,T_LIAB_DERIV_ASSETS,T_LIAB_PUR_RESALE_FA,T_LIAB_INT_RECEIV,...,T_LIAB_FOREX_DIFFER,T_LIAB_SEE,T_LIAB_SEA,T_LIAB_T_EQUITY_ATTR_P,T_LIAB_MINORITY_INT,T_LIAB_OTH_EFFECT_SE,T_LIAB_OTH_EFFECT_SA,T_LIAB_T_SH_EQUITY,T_LIAB_LEE,T_LIAB_LEA
1211,603323,2018-03-31,0.128792,0.019008,1.072754e-16,0.011393,3.286734e-03,1.072754e-16,0.073028,0.006294,...,1.072754e-16,1.072754e-16,1.072754e-16,0.092016,0.001174,1.072754e-16,1.072754e-16,0.093191,1.072754e-16,1.072754e-16
1008,603323,2017-12-31,0.135183,0.014568,1.152099e-16,0.011407,9.960358e-04,1.152099e-16,0.064739,0.006015,...,1.152099e-16,1.152099e-16,1.152099e-16,0.096389,0.001227,1.152099e-16,1.152099e-16,0.097615,1.152099e-16,1.152099e-16
1010,603323,2016-12-31,0.174921,0.073949,1.361108e-16,0.007365,1.361108e-16,1.361108e-16,0.001361,0.004286,...,1.361108e-16,1.361108e-16,1.361108e-16,0.105843,0.001396,1.361108e-16,1.361108e-16,0.107239,1.361108e-16,1.361108e-16
1376,603323,2017-09-30,0.142302,0.026223,1.265299e-16,0.011701,8.114210e-03,1.265299e-16,0.017709,0.005705,...,1.265299e-16,1.265299e-16,1.265299e-16,0.104960,0.001329,1.265299e-16,1.265299e-16,0.106289,1.265299e-16,1.265299e-16
1576,603323,2017-06-30,0.151163,0.033219,1.308265e-16,0.013387,1.544433e-03,1.308265e-16,0.009740,0.004997,...,1.308265e-16,1.308265e-16,1.308265e-16,0.106296,0.001328,1.308265e-16,1.308265e-16,0.107624,1.308265e-16,1.308265e-16

In [30]:
#所有字段在所有者权益的占比
    #所有者权益(或股东权益)合计的属性 T_SH_EQUITY	Total equity	所有者权益(或股东权益)合计

Percentage_OF_Total_SH_EQUITY=np.array([[w]*df_BalanceSheet_Bank_numericalcolumns.shape[1] for w in df_BalanceSheet_Bank_numericalcolumns.T_SH_EQUITY])
Percentage_OF_Total_SH_EQUITY=df_BalanceSheet_Bank_numericalcolumns/Percentage_OF_Total_SH_EQUITY
Percentage_OF_Total_SH_EQUITY=Percentage_OF_Total_SH_EQUITY[Percentage_OF_Total_SH_EQUITY.columns.drop(['T_SH_EQUITY','T_LIAB_EQUITY'])]
Percentage_OF_Total_SH_EQUITY.columns=np.char.add('T_SH_EQUITY_',list(Percentage_OF_Total_SH_EQUITY.columns))

Percentage_OF_Total_SH_EQUITY=pd.concat([df_BalanceSheet_Bank_idcolumns,Percentage_OF_Total_SH_EQUITY],axis=1)
Percentage_OF_Total_SH_EQUITY.head()

,TICKER_SYMBOL,END_DATE,T_SH_EQUITY_C_RESER_CB,T_SH_EQUITY_DEPOS_IN_OTH_BFI,T_SH_EQUITY_PRECI_METALS,T_SH_EQUITY_LOAN_TO_OTH_BANK_FI,T_SH_EQUITY_TRADING_FA,T_SH_EQUITY_DERIV_ASSETS,T_SH_EQUITY_PUR_RESALE_FA,T_SH_EQUITY_INT_RECEIV,...,T_SH_EQUITY_RETAINED_EARNINGS,T_SH_EQUITY_FOREX_DIFFER,T_SH_EQUITY_SEE,T_SH_EQUITY_SEA,T_SH_EQUITY_T_EQUITY_ATTR_P,T_SH_EQUITY_MINORITY_INT,T_SH_EQUITY_OTH_EFFECT_SE,T_SH_EQUITY_OTH_EFFECT_SA,T_SH_EQUITY_LEE,T_SH_EQUITY_LEA
1211,603323,2018-03-31,1.382026,0.203965,1.151138e-15,0.122251,3.526891e-02,1.151138e-15,0.783643,0.067542,...,0.163675,1.151138e-15,1.151138e-15,1.151138e-15,0.987398,0.012602,1.151138e-15,1.151138e-15,1.151138e-15,1.151138e-15
1008,603323,2017-12-31,1.384860,0.149238,1.180247e-15,0.116852,1.020371e-02,1.180247e-15,0.663202,0.061617,...,0.144783,1.180247e-15,1.180247e-15,1.180247e-15,0.987435,0.012565,1.180247e-15,1.180247e-15,1.180247e-15,1.180247e-15
1010,603323,2016-12-31,1.631136,0.689578,1.269231e-15,0.068676,1.269231e-15,1.269231e-15,0.012692,0.039971,...,0.118672,1.269231e-15,1.269231e-15,1.269231e-15,0.986980,0.013020,1.269231e-15,1.269231e-15,1.269231e-15,1.269231e-15
1376,603323,2017-09-30,1.338824,0.246710,1.190436e-15,0.110087,7.634120e-02,1.190436e-15,0.166613,0.053673,...,0.141394,1.190436e-15,1.190436e-15,1.190436e-15,0.987500,0.012500,1.190436e-15,1.190436e-15,1.190436e-15,1.190436e-15
1576,603323,2017-06-30,1.404543,0.308660,1.215587e-15,0.124384,1.435025e-02,1.215587e-15,0.090500,0.046427,...,0.122405,1.215587e-15,1.215587e-15,1.215587e-15,0.987660,0.012340,1.215587e-15,1.215587e-15,1.215587e-15,1.215587e-15

In [31]:
 #合并基础资产表以及资产分类表
temp=df_BalanceSheet_Bank4 #透视表
df_BalanceSheet_Bank = pd.merge(df_BalanceSheet_Bank, temp, how='left', on=["TICKER_SYMBOL","END_DATE"])

In [32]:
    #功能：计算增速
    #思路：构建计算增速特征的函数，根据shiftnum的取值，计算各季度增速
    def growthcal(data, shiftnum, groupcol, igcol):
        datacolname = list(data.columns)
        igcol = np.append(groupcol, igcol)
        colname_need_cal = [x for x in datacolname if x not in igcol]
        results = data.loc[:, groupcol]
        for i in colname_need_cal:
            calcol = np.append(groupcol, i)
            columndel = np.append(i, 'B_shifted')
            temp = data.loc[:, calcol]
            temp2 = temp.copy()
            temp.END_DATE = temp.END_DATE + pd.DateOffset(months = shiftnum)
            temp.columns = np.append(groupcol, ['B_shifted'])
            uu = temp.loc[(temp['END_DATE'].dt.month == 12) & (temp['END_DATE'].dt.day == 30), ]
            if len(uu) > 0 :
                temp.loc[(temp['END_DATE'].dt.month == 12) & (temp['END_DATE'].dt.day == 30), 'END_DATE'] = temp.loc[(temp['END_DATE'].dt.month == 12) & (temp['END_DATE'].dt.day==30), 'END_DATE'] + pd.DateOffset(days = 1)
            uu = temp.loc[(temp['END_DATE'].dt.month == 3) & (temp['END_DATE'].dt.day == 30), 'END_DATE']
            if len(uu) > 0 :
                temp.loc[(temp['END_DATE'].dt.month == 3) & (temp['END_DATE'].dt.day == 30), 'END_DATE'] = temp.loc[(temp['END_DATE'].dt.month == 3) & (temp['END_DATE'].dt.day==30), 'END_DATE'] + pd.DateOffset(days = 1)
            temp2 = pd.merge(temp2, temp, how='left', on=["TICKER_SYMBOL","END_DATE"])
            growthname = [i + '_GROWTH' + str(shiftnum)]
            growthname = growthname[0]
            temp2[growthname] = temp2[i].squeeze() / temp2.B_shifted -1
            temp2.drop(columndel, axis=1, inplace=True)
            results = pd.merge(results, temp2, how='left', on=["TICKER_SYMBOL","END_DATE"])
        return results

    ##FISCAL_PERIOD_会计区间，MERGED_FLAG_合并标志，PUBLISH_DATE_发布时间，EXCHANGE_CD_交易市场代码
    
    #计算同比增速
    bsgrowth12 = growthcal(data = df_BalanceSheet_Bank, shiftnum = 12,
                       groupcol = ['TICKER_SYMBOL', 'END_DATE'],
                       igcol = ['EXCHANGE_CD', 'PUBLISH_DATE', 'FISCAL_PERIOD', 'MERGED_FLAG'])
   
    #计算同三个季度的增速
    bsgrowth9 = growthcal(data = df_BalanceSheet_Bank, shiftnum = 9,
                       groupcol = ['TICKER_SYMBOL', 'END_DATE'],
                       igcol = ['EXCHANGE_CD', 'PUBLISH_DATE', 'FISCAL_PERIOD', 'MERGED_FLAG'])
    #计算半年同比增速
    bsgrowth6 = growthcal(data = df_BalanceSheet_Bank, shiftnum = 6,
                       groupcol = ['TICKER_SYMBOL', 'END_DATE'],
                       igcol = ['EXCHANGE_CD', 'PUBLISH_DATE', 'FISCAL_PERIOD', 'MERGED_FLAG'])
    #计算环比增速
    bsgrowth3 = growthcal(data = df_BalanceSheet_Bank, shiftnum = 3,
                       groupcol = ['TICKER_SYMBOL', 'END_DATE'],
                       igcol = ['EXCHANGE_CD', 'PUBLISH_DATE', 'FISCAL_PERIOD', 'MERGED_FLAG'])
    bsgrowth3.head()

,TICKER_SYMBOL,END_DATE,C_RESER_CB_GROWTH3,DEPOS_IN_OTH_BFI_GROWTH3,PRECI_METALS_GROWTH3,LOAN_TO_OTH_BANK_FI_GROWTH3,TRADING_FA_GROWTH3,DERIV_ASSETS_GROWTH3,PUR_RESALE_FA_GROWTH3,INT_RECEIV_GROWTH3,...,OTH_EFFECT_SE_GROWTH3,OTH_EFFECT_SA_GROWTH3,T_SH_EQUITY_GROWTH3,LEE_GROWTH3,LEA_GROWTH3,T_LIAB_EQUITY_GROWTH3,CRASH_ASSETS_GROWTH3,INVEST_ASSETS_GROWTH3,LOANS_ASSETS_GROWTH3,OPERATION_ASSET_GROWTH3
0,603323,2018-03-31,0.023190,0.401274,0.0,0.072661,2.543885,0.0,2.114846e-01,0.123883,...,0.0,0.0,0.025287,0.0,0.0,0.069635,0.060868,0.118677,0.037795,0.148362
1,603323,2017-12-31,0.043315,-0.389869,0.0,0.070616,-0.865187,0.0,3.014847e+00,0.157918,...,0.0,0.0,0.008633,0.0,0.0,0.089644,-0.017940,0.275671,0.031579,0.009683
2,603323,2016-12-31,0.096484,0.626235,0.0,0.397029,-1.000000,0.0,-7.496871e-01,0.052500,...,0.0,0.0,0.104058,0.0,0.0,0.044859,0.218580,-0.022597,0.010413,0.025097
3,603323,2017-09-30,-0.026651,-0.183818,0.0,-0.096246,4.432250,0.0,8.799194e-01,0.180496,...,0.0,0.0,0.021128,0.0,0.0,0.032711,-0.057761,0.134083,0.022267,-0.085966
4,603323,2017-06-30,0.047559,-0.515440,0.0,0.215782,2.203756,0.0,7.445000e+13,0.267536,...,0.0,0.0,0.023901,0.0,0.0,0.025494,-0.116577,0.163370,0.018127,0.153772

# 利润表的处理

In [33]:
#第一次运行
# PATH_INCOMESTATEMENT_FILE = 'Data/df_IncomeStatement.xlsx'
# PATH_INCOMESTATEMENT_FILE_bank = pd.read_excel(PATH_INCOMESTATEMENT_FILE,'Bank',dtype={'TICKER_SYMBOL':str})
# PATH_INCOMESTATEMENT_FILE_bank.to_csv('Data/df_IncomeStatement_Bank.csv',index=None)

## 利润表的读取

In [34]:
import pandas as pd
df_IncomeStatement = pd.read_csv('Data/df_IncomeStatement_Bank.csv',
                                 index_col=0 , 
                                 dtype={'TICKER_SYMBOL':str})
df_IncomeStatement.shape

(1657, 60)

In [35]:
df_IncomeStatement.head()

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,REVENUE,...,BASIC_EPS,DILUTED_EPS,OTH_COMPR_INCOME,OTH_EFFECT_CI,AE_EFFECT_CI,T_COMPR_INCOME,COMPR_INC_ATTR_P,COMPR_INC_ATTR_M_S,OTH_EFFECT_PCI,AE_EFFECT_PCI
0,2,000001,XSHE,2009-04-24,2009-03-31,2008-03-31,Q1,3,1,3.553270e+09,...,0.34,0.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,000001,XSHE,2009-04-24,2009-03-31,2009-03-31,Q1,3,1,3.760604e+09,...,0.36,0.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,000001,XSHE,2009-08-21,2009-06-30,2008-06-30,S1,6,1,7.115253e+09,...,0.71,0.70,-12053000.0,NaN,NaN,2.131781e+09,2.131781e+09,NaN,NaN,NaN
3,2,000001,XSHE,2009-08-21,2009-06-30,2009-06-30,S1,6,1,7.490850e+09,...,0.74,0.74,-724786000.0,NaN,NaN,1.586602e+09,1.586602e+09,NaN,NaN,NaN
4,2,000001,XSHE,2009-10-29,2009-09-30,2008-09-30,Q3,9,1,1.074141e+10,...,1.09,1.08,246482000.0,NaN,NaN,3.563476e+09,3.563476e+09,NaN,NaN,NaN

## 数据准备

In [36]:
# 缺失值补0.00001   
df_IncomeStatement.loc[:, df_IncomeStatement.dtypes == 'float64'] = \
   df_IncomeStatement.loc[:, df_IncomeStatement.dtypes == "float64"].fillna(0.00001)

In [37]:
# 删除三个列："PARTY_ID", "END_DATE_REP", "REPORT_TYPE"
df_IncomeStatement = df_IncomeStatement[df_IncomeStatement.columns.drop(["PARTY_ID", "END_DATE_REP", "REPORT_TYPE"])]

In [38]:
#选择MERGED_FLAG == 1的行
df_IncomeStatement = df_IncomeStatement[(df_IncomeStatement.MERGED_FLAG == 1)]

In [39]:
#排序
df_IncomeStatement = df_IncomeStatement.sort_values(by = ['TICKER_SYMBOL', 'PUBLISH_DATE', 'END_DATE'], 
                                                    ascending = False)

In [40]:
#重复过滤
df_IncomeStatement = df_IncomeStatement.drop_duplicates(['TICKER_SYMBOL', 'END_DATE'], keep='first')

In [41]:
#删除三个列"EXCHANGE_CD", "PUBLISH_DATE", "FISCAL_PERIOD
df_IncomeStatement = df_IncomeStatement[df_IncomeStatement.columns.drop(["EXCHANGE_CD", "PUBLISH_DATE", "FISCAL_PERIOD", "MERGED_FLAG"])]

In [42]:
#新增两个列 year和month
df_IncomeStatement['year'] = df_IncomeStatement.END_DATE.str.slice(start = 0, stop = 4)

df_IncomeStatement['month'] = df_IncomeStatement.END_DATE.str.slice(start = 5, stop = 7)

df_IncomeStatement = df_IncomeStatement.drop_duplicates()
df_IncomeStatement.head()

,TICKER_SYMBOL,END_DATE,REVENUE,N_INT_INCOME,INT_INCOME,INT_EXP,N_COMMIS_INCOME,COMMIS_INCOME,COMMIS_EXP,INVEST_INCOME,...,OTH_COMPR_INCOME,OTH_EFFECT_CI,AE_EFFECT_CI,T_COMPR_INCOME,COMPR_INC_ATTR_P,COMPR_INC_ATTR_M_S,OTH_EFFECT_PCI,AE_EFFECT_PCI,year,month
1419,603323,2018-03-31,6.982370e+08,6.539290e+08,1.191680e+09,5.377510e+08,17020000.0,23321000.0,6301000.0,25059000.0,...,16104000.0,0.00001,0.00001,214254000.0,211242000.0,3012000.0,0.00001,0.00001,2018,03
1417,603323,2017-12-31,2.725991e+09,2.525306e+09,3.789142e+09,1.263836e+09,69278000.0,95851000.0,26573000.0,119905000.0,...,-81068000.0,0.00001,0.00001,657929000.0,650047000.0,7882000.0,0.00001,0.00001,2017,12
1418,603323,2017-03-31,6.220530e+08,5.808250e+08,8.866320e+08,3.058070e+08,22614000.0,26639000.0,4025000.0,16157000.0,...,-14894000.0,0.00001,0.00001,159361000.0,155337000.0,4024000.0,0.00001,0.00001,2017,03
1416,603323,2016-12-31,2.305871e+09,2.143254e+09,3.268891e+09,1.125637e+09,63025000.0,78647000.0,15622000.0,79977000.0,...,-52240000.0,0.00001,0.00001,606805000.0,598050000.0,8755000.0,0.00001,0.00001,2016,12
1415,603323,2017-09-30,2.053618e+09,1.894968e+09,2.800475e+09,9.055070e+08,56303000.0,71988000.0,15685000.0,93577000.0,...,-13406000.0,0.00001,0.00001,611574000.0,605149000.0,6425000.0,0.00001,0.00001,2017,09

## 生成以'TICKER_SYMBOL', 'END_DATE', "year", "month"为主键的透视表

In [43]:
# 改变数据形状
df_IncomeStatement_Q = pd.melt(df_IncomeStatement, id_vars=['TICKER_SYMBOL', 'END_DATE', "year", "month"],
                               var_name='ORIGINAL_COLUMN_NAMES',
                               value_name='valuenum')
df_IncomeStatement_Q.head()

  TICKER_SYMBOL    END_DATE  year month ORIGINAL_COLUMN_NAMES      valuenum
0        603323  2018-03-31  2018    03               REVENUE  6.982370e+08
1        603323  2017-12-31  2017    12               REVENUE  2.725991e+09
2        603323  2017-03-31  2017    03               REVENUE  6.220530e+08
3        603323  2016-12-31  2016    12               REVENUE  2.305871e+09
4        603323  2017-09-30  2017    09               REVENUE  2.053618e+09

In [44]:
#将END_DATE一列转换为日期型，并对其进行排序
df_IncomeStatement_Q["END_DATE"] = df_IncomeStatement_Q["END_DATE"].astype("datetime64[ns]")

df_IncomeStatement_Q = df_IncomeStatement_Q.sort_values(by = ['TICKER_SYMBOL', 'ORIGINAL_COLUMN_NAMES', 'END_DATE'],
                                                        ascending = True)
df_IncomeStatement_Q.head()

      TICKER_SYMBOL   END_DATE  year month ORIGINAL_COLUMN_NAMES  valuenum
40617        000001 2008-03-31  2008    03          AE_EFFECT_CI   0.00001
40616        000001 2008-06-30  2008    06          AE_EFFECT_CI   0.00001
40615        000001 2008-09-30  2008    09          AE_EFFECT_CI   0.00001
40614        000001 2008-12-31  2008    12          AE_EFFECT_CI   0.00001
40613        000001 2009-03-31  2009    03          AE_EFFECT_CI   0.00001

## 分组差分统计

In [45]:
#分组统计，进行差分操作
    #df..diff()函数的功能相当于df - df.shift(1)
    
new_column = df_IncomeStatement_Q.groupby(['TICKER_SYMBOL','ORIGINAL_COLUMN_NAMES', 'year'],
                                          as_index=False)['valuenum'].diff()
new_column

0      40617            NaN
       40616            0.0
       40615            0.0
       40614            0.0
1      40613            NaN
                   ...
14431  26492            NaN
       26496    305261000.0
       26494    223856000.0
       26491    120227000.0
14432  26490            NaN
Name: valuenum, Length: 45033, dtype: float64

## 特征选择

In [46]:
#增加两个新列：diffs和Qvaluenum

df_IncomeStatement_Q["diffs"] = new_column.reset_index(level=0, drop=True)

df_IncomeStatement_Q["Qvaluenum"] = df_IncomeStatement_Q.diffs.fillna(df_IncomeStatement_Q.valuenum)

In [47]:
#删除列'valuenum'和 'diffs'

df_IncomeStatement_Q = df_IncomeStatement_Q[df_IncomeStatement_Q.columns.drop(['valuenum', 'diffs'])]

## 重新生成透视表

In [48]:
#生成透视表
df_IncomeStatement_Q = (df_IncomeStatement_Q.pivot_table(index=['TICKER_SYMBOL','END_DATE', "year", "month"],
                                                         columns='ORIGINAL_COLUMN_NAMES', 
                                                         values='Qvaluenum').reset_index())

df_IncomeStatement_Q  = df_IncomeStatement_Q.sort_values(by = ['TICKER_SYMBOL', 'END_DATE'],ascending = True)

## 在非主码一列加后缀Q1

In [49]:
#以下列名之后加后缀Q1
ab_names=list(df_IncomeStatement_Q.columns)
ab_names=[i+'_Q1' for i in ab_names if i not in ['TICKER_SYMBOL','END_DATE', "year", "month"]]
ab_names = np.append(['TICKER_SYMBOL','END_DATE', "year", "month"],ab_names)
df_IncomeStatement_Q.columns = ab_names
df_IncomeStatement_Q.columns

Index(['TICKER_SYMBOL', 'END_DATE', 'year', 'month', 'AE_EFFECT_CI_Q1',
       'AE_EFFECT_NP_Q1', 'AE_EFFECT_NPP_Q1', 'AE_EFFECT_OP_Q1',
       'AE_EFFECT_PCI_Q1', 'AE_EFFECT_TP_Q1', 'AOC_Q1', 'AOR_Q1',
       'ASSETS_DISP_GAIN_Q1', 'ASSETS_IMPAIR_LOSS_Q1', 'A_J_INVEST_INCOME_Q1',
       'BASIC_EPS_Q1', 'BIZ_TAX_SURCHG_Q1', 'COGS_Q1', 'COMMIS_EXP_Q1',
       'COMMIS_INCOME_Q1', 'COMPR_INC_ATTR_M_S_Q1', 'COMPR_INC_ATTR_P_Q1',
       'DILUTED_EPS_Q1', 'FOREX_GAIN_Q1', 'F_VALUE_CHG_GAIN_Q1',
       'GENL_ADMIN_EXP_Q1', 'GOING_CONCERN_NI_Q1', 'INCOME_TAX_Q1',
       'INT_EXP_Q1', 'INT_INCOME_Q1', 'INVEST_INCOME_Q1', 'MINORITY_GAIN_Q1',
       'NOPERATE_EXP_Q1', 'NOPERATE_INCOME_Q1', 'N_COMMIS_INCOME_Q1',
       'N_INCOME_Q1', 'N_INCOME_ATTR_P_Q1', 'N_INT_INCOME_Q1',
       'OPERATE_PROFIT_Q1', 'OTH_COMPR_INCOME_Q1', 'OTH_EFFECT_CI_Q1',
       'OTH_EFFECT_NP_Q1', 'OTH_EFFECT_NPP_Q1', 'OTH_EFFECT_OP_Q1',
       'OTH_EFFECT_PCI_Q1', 'OTH_EFFECT_TP_Q1', 'OTH_GAIN_Q1',
       'OTH_OPER_COSTS_Q1', 'OTH_OPER_REV_Q1', 'QUIT_CONCERN_NI_Q1',
       'REVENUE_Q1', 'SPEC_OC_Q1', 'SPEC_OR_Q1', 'T_COMPR_INCOME_Q1',
       'T_PROFIT_Q1'],
      dtype='object')

In [50]:
#将日期一列转换为日期类型
df_IncomeStatement["END_DATE"] = df_IncomeStatement["END_DATE"].astype("datetime64[ns]")
df_IncomeStatement.shape

(883, 55)

## 合并df_IncomeStatement_Q和df_IncomeStatement

In [51]:
# 合并df_IncomeStatement_Q和df_IncomeStatement
df_IncomeStatement_Q=pd.merge(df_IncomeStatement_Q,df_IncomeStatement, 
                              how='left',
                              on=['TICKER_SYMBOL','END_DATE', "year", "month"])
df_IncomeStatement_Q.head()

,TICKER_SYMBOL,END_DATE,year,month,AE_EFFECT_CI_Q1,AE_EFFECT_NP_Q1,AE_EFFECT_NPP_Q1,AE_EFFECT_OP_Q1,AE_EFFECT_PCI_Q1,AE_EFFECT_TP_Q1,...,BASIC_EPS,DILUTED_EPS,OTH_COMPR_INCOME,OTH_EFFECT_CI,AE_EFFECT_CI,T_COMPR_INCOME,COMPR_INC_ATTR_P,COMPR_INC_ATTR_M_S,OTH_EFFECT_PCI,AE_EFFECT_PCI
0,000001,2008-03-31,2008,03,0.00001,0.00001,0.00001,1000.00000,0.00001,0.00001,...,0.34,0.33,1.000000e-05,0.00001,0.00001,1.000000e-05,1.000000e-05,0.00001,0.00001,0.00001
1,000001,2008-06-30,2008,06,0.00000,0.00000,0.00000,-999.99999,0.00000,0.00000,...,0.71,0.70,-1.205300e+07,0.00001,0.00001,2.131781e+09,2.131781e+09,0.00001,0.00001,0.00001
2,000001,2008-09-30,2008,09,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,1.09,1.08,2.464820e+08,0.00001,0.00001,3.563476e+09,3.563476e+09,0.00001,0.00001,0.00001
3,000001,2008-12-31,2008,12,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.20,0.20,1.055592e+09,0.00001,0.00001,1.669627e+09,1.669627e+09,0.00001,0.00001,0.00001
4,000001,2009-03-31,2009,03,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,...,0.36,0.36,-4.507380e+08,0.00001,0.00001,6.713390e+08,6.713390e+08,0.00001,0.00001,0.00001

In [52]:
df_IncomeStatement_Q.shape

(883, 106)

In [53]:
print(df_IncomeStatement_Q.columns)
    #以CI结尾的字段为原表中字段，含义为comprehensive income	综合收益

Index(['TICKER_SYMBOL', 'END_DATE', 'year', 'month', 'AE_EFFECT_CI_Q1',
       'AE_EFFECT_NP_Q1', 'AE_EFFECT_NPP_Q1', 'AE_EFFECT_OP_Q1',
       'AE_EFFECT_PCI_Q1', 'AE_EFFECT_TP_Q1',
       ...
       'BASIC_EPS', 'DILUTED_EPS', 'OTH_COMPR_INCOME', 'OTH_EFFECT_CI',
       'AE_EFFECT_CI', 'T_COMPR_INCOME', 'COMPR_INC_ATTR_P',
       'COMPR_INC_ATTR_M_S', 'OTH_EFFECT_PCI', 'AE_EFFECT_PCI'],
      dtype='object', length=106)

# 合并资产负债以及利润表

In [54]:
#银行数据合并--资产负债以及利润表

## 合并df_BalanceSheet_Bank,Percentage_OF_TotalAseets

In [55]:
temp_data=pd.merge(df_BalanceSheet_Bank,Percentage_OF_TotalAseets, how='left', on=["TICKER_SYMBOL","END_DATE"])

## 合并temp_data,Percentage_OF_TotalLIB

In [56]:
temp_data=pd.merge(temp_data,Percentage_OF_TotalLIB, how='left', on=["TICKER_SYMBOL","END_DATE"])

## 合并temp_data,Percentage_OF_Total_SH_EQUITY

In [57]:
temp_data=pd.merge(temp_data,Percentage_OF_Total_SH_EQUITY, how='left', on=["TICKER_SYMBOL","END_DATE"])

## 合并几个增长率表

In [58]:
#各表的含义
    #计算同比增速:    bsgrowth12
    #计算同三个季度的增速:    bsgrowth9
    #计算半年同比增速:    bsgrowth6
    #计算环比增速:    bsgrowth3
    
temp_data=pd.merge(temp_data,bsgrowth3, how='left', on=["TICKER_SYMBOL","END_DATE"])

temp_data=pd.merge(temp_data,bsgrowth6, how='left', on=["TICKER_SYMBOL","END_DATE"])

temp_data=pd.merge(temp_data,bsgrowth9, how='left', on=["TICKER_SYMBOL","END_DATE"])

temp_data=pd.merge(temp_data,bsgrowth12, how='left', on=["TICKER_SYMBOL","END_DATE"])

temp_data=pd.merge(temp_data,df_IncomeStatement_Q, how='left', on=["TICKER_SYMBOL","END_DATE"])

temp_data=temp_data.fillna(0)

## 排序并删除一些列

In [59]:
df_IncomeStatement=temp_data
df_IncomeStatement=df_IncomeStatement.fillna(0)


df_IncomeStatement = df_IncomeStatement.sort_values(['TICKER_SYMBOL','END_DATE'])
df_IncomeStatement = df_IncomeStatement.drop(['PUBLISH_DATE','EXCHANGE_CD','MERGED_FLAG','FISCAL_PERIOD'],1)
df_IncomeStatement.head()

,TICKER_SYMBOL,END_DATE,C_RESER_CB,DEPOS_IN_OTH_BFI,PRECI_METALS,LOAN_TO_OTH_BANK_FI,TRADING_FA,DERIV_ASSETS,PUR_RESALE_FA,INT_RECEIV,...,BASIC_EPS,DILUTED_EPS,OTH_COMPR_INCOME,OTH_EFFECT_CI,AE_EFFECT_CI,T_COMPR_INCOME,COMPR_INC_ATTR_P,COMPR_INC_ATTR_M_S,OTH_EFFECT_PCI,AE_EFFECT_PCI
767,000001,2008-12-31,3.976790e+10,2.150081e+10,9225000.0,9.236676e+09,4.144100e+07,290751000.0,3.473335e+10,1.605636e+09,...,0.20,0.20,1.055592e+09,0.00001,0.00001,1.669627e+09,1.669627e+09,0.00001,0.00001,0.00001
770,000001,2009-03-31,3.954528e+10,3.281080e+10,7080000.0,9.836695e+09,1.363916e+09,200250000.0,3.247499e+10,1.946312e+09,...,0.36,0.36,-4.507380e+08,0.00001,0.00001,6.713390e+08,6.713390e+08,0.00001,0.00001,0.00001
769,000001,2009-06-30,4.222817e+10,2.081290e+10,5342000.0,7.998342e+09,1.785393e+09,162354000.0,3.795794e+10,1.711397e+09,...,0.74,0.74,-7.247860e+08,0.00001,0.00001,1.586602e+09,1.586602e+09,0.00001,0.00001,0.00001
768,000001,2009-09-30,4.542918e+10,1.781418e+10,4694000.0,8.416666e+09,1.408176e+09,173611000.0,3.602692e+10,1.660956e+09,...,1.17,1.17,-9.497730e+08,0.00001,0.00001,2.687646e+09,2.687646e+09,0.00001,0.00001,0.00001
763,000001,2009-12-31,5.424395e+10,1.559254e+10,3302000.0,5.361139e+09,1.132048e+09,99996000.0,4.092340e+10,1.625700e+09,...,1.62,1.62,-9.619100e+08,0.00001,0.00001,4.068819e+09,4.068819e+09,0.00001,0.00001,0.00001